<html>

<head>
    <title>
        IMS
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <!-- header -->
    <nav class="navbar navbar-dark bg-dark" style="height: 100px;">
        <div class="container-fluid">
          <a class="navbar-brand"></a>
          <form class="d-flex align-middle">
            <button id="studentRegisterBtn" class="btn btn-outline-success me-2 mr-1" type="button">Register a Student</button>
            <button id="addClassBtn" class="btn btn-sm btn-success" type="button">Add New Class</button>
          </form>
        </div>
    </nav>

    <!-- content -->
    <div class="container" style="margin-top: 20px; margin-bottom: 20px; min-height: 68%">
        <div class="scrollbar scrollbar-primary">
            <div id="content"></div>
        </div>
    </div>


    <!-- footer -->
    <footer style="background-color: black; height: 75px; left: 0; bottom: 0; width: 100%;">
        
    </footer>
</body>

</html>
